body {
  background-color: rgb(16%, 16.3%, 16%); 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10vh;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controls-div {
  padding-top: 10px;
  display: flex;
  width: 40%;
  align-self: center;
  justify-content: space-around;
}

button {
  font-size: 1.5em;
}

.canvas-div {
  padding-top: 30px;
  width: 80%;
  align-self: center;
}

#canvas {
  max-height: 75vh;
  width: 100%;
  background-color: #fff;
}
